/********************************
Global Section
********************************/
.large-container {
  width: 90%;
}

/********************************
Header Section
********************************/
.header {
  padding-top: 4em;
  padding-bottom: 18em;
}
.header-top {
  justify-content: space-between;
}

.header-contact {
  display: inline-block;
  width: auto;
  margin-top: 0;

  a {
    display: inline-block;
    color: $white;
    background-color: rgba(18, 66, 98, 0.5);
    border: 3px solid $blue;
    transition: all 0.3s ease-in-out;
    // animation: color_change infinite 2.5s linear;
    &:hover {
      background-color: $blue;
      color: $white;
      border-color: $orange;
    }
  }
}

.header-subtitle {
  font-size: 3em;
  line-height: normal;
}

.header-content {
  margin-top: 120px;
}

/********************************
Body Section
********************************/

.info-boxes {
  .box-group {
    width: 32%;
    display: inline-block;
    max-width: 450px;
    &:last-child {
      border-right: 2px solid $gray;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
    }
    &:first-child {
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
    }
  }
}

/* portfolio section */
.grid-container {
  .grid-3 {
    width: 48%;
    display: inline-block;
    padding: 10px 1%;
    margin: 10px 0;
  }
  .grid-name-link {
    padding: 25px 0 40px 0;
    a {
      width: 60%;
    }
  }
}

/********************************
Footer Section
********************************/

.footer {
  padding-top: 5em;
}

.footer-project {
  display: inline-block;
  width: 35%;
  margin: 0 0.5%;
  padding: 10px 15px;
  h1 {
    font-size: 30px;
    font-weight: bold;
  }
  &:last-child {
    width: 25%;
  }
}

.footer-btn {
  width: auto;
  margin-right: 12px;
}

.input-field {
  width: 32%;
  margin: 0 0.5% 10px 0.5%;
}

.message-field {
  width: 100%;
}

.submit-btn {
  width: auto;
  margin-right: 12px;
}
